body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1519px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:99px;
}
#u896 {
  position:absolute;
  left:301px;
  top:312px;
  width:124px;
  height:99px;
}
#u897 {
  position:absolute;
  left:2px;
  top:42px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:18px;
  top:33px;
  width:1501px;
  height:112px;
}
#u899 {
  position:absolute;
  left:2px;
  top:48px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:98px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:18px;
  top:25px;
  width:1501px;
  height:98px;
}
#u901 {
  position:absolute;
  left:2px;
  top:41px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u902 {
  position:absolute;
  left:158px;
  top:52px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:63px;
}
#u904 {
  position:absolute;
  left:36px;
  top:43px;
  width:109px;
  height:62px;
}
#u905 {
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u906 {
  position:absolute;
  left:1287px;
  top:63px;
  width:30px;
  height:22px;
}
#u907 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u908 {
  position:absolute;
  left:1327px;
  top:61px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u910 {
  position:absolute;
  left:1436px;
  top:61px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u912 {
  position:absolute;
  left:708px;
  top:63px;
  width:19px;
  height:16px;
  font-size:18px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  visibility:hidden;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u914 {
  position:absolute;
  left:1064px;
  top:63px;
  width:37px;
  height:16px;
  font-size:18px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  visibility:hidden;
  white-space:nowrap;
}
#u916 {
  position:absolute;
  left:191px;
  top:250px;
  width:105px;
  height:145px;
}
#u916_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u918 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u918_img.selected {
}
#u918.selected {
}
#u919 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:22px;
  top:0px;
  width:19px;
  height:20px;
}
#u921 {
  position:absolute;
  left:3px;
  top:2px;
  width:14px;
  white-space:nowrap;
}
#u917_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u922 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u924 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u925 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u927 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u928 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u930 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u931 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u932 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u932_img.selected {
}
#u932.selected {
}
#u933 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u935 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u931_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u936 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u938 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u939 {
  position:absolute;
  left:20px;
  top:40px;
  width:54px;
  height:20px;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u941 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u942 {
  position:absolute;
  left:0px;
  top:100px;
  width:54px;
  height:20px;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u943 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u943_img.selected {
}
#u943.selected {
}
#u944 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u946 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u942_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u947 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u949 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u950 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u951 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u951_img.selected {
}
#u951.selected {
}
#u952 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u954 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u950_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u955 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u957 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:405px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:18px;
  top:185px;
  width:151px;
  height:405px;
}
#u959 {
  position:absolute;
  left:2px;
  top:194px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:191px;
  top:185px;
  width:220px;
  height:39px;
}
#u960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u960_input:disabled {
  color:grayText;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:39px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u961 {
  position:absolute;
  left:421px;
  top:185px;
  width:96px;
  height:39px;
  font-size:14px;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:785px;
  top:155px;
  width:462px;
  height:353px;
  overflow:hidden;
  visibility:hidden;
}
#u963_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u963_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:353px;
}
#u965 {
  position:absolute;
  left:2px;
  top:168px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:29px;
  top:15px;
  width:43px;
  height:16px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:29px;
  top:60px;
  width:43px;
  height:16px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:29px;
  top:159px;
  width:43px;
  height:16px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u972 {
  position:absolute;
  left:110px;
  top:15px;
  width:115px;
  height:20px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u973 {
  position:absolute;
  left:110px;
  top:54px;
  width:125px;
  height:22px;
}
#u973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u973_input:disabled {
  color:grayText;
}
#u974 {
  position:absolute;
  left:110px;
  top:159px;
  width:170px;
  height:66px;
}
#u974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:123px;
  top:304px;
  width:117px;
  height:28px;
}
#u976 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  position:absolute;
  left:29px;
  top:106px;
  width:71px;
  height:16px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u979 {
  position:absolute;
  left:110px;
  top:106px;
  width:142px;
  height:19px;
}
#u979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u979_input:disabled {
  color:grayText;
}
#u980 {
  position:absolute;
  left:282px;
  top:288px;
  width:437px;
  height:302px;
  overflow:hidden;
  visibility:hidden;
}
#u980_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:302px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u980_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:53px;
  top:33px;
  width:71px;
  height:16px;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u983 {
  position:absolute;
  left:140px;
  top:29px;
  width:170px;
  height:20px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:53px;
  top:122px;
  width:43px;
  height:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u986 {
  position:absolute;
  left:140px;
  top:120px;
  width:170px;
  height:119px;
}
#u986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:119px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u987 {
  position:absolute;
  left:140px;
  top:249px;
  width:140px;
  height:40px;
}
#u988 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  position:absolute;
  left:53px;
  top:76px;
  width:71px;
  height:16px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u991 {
  position:absolute;
  left:140px;
  top:76px;
  width:100px;
  height:16px;
}
#u992 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u991_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u993 {
  position:absolute;
  left:222px;
  top:76px;
  width:100px;
  height:16px;
}
#u994 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u993_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3399;
}
#u995 {
  position:absolute;
  left:306px;
  top:66px;
  width:117px;
  height:16px;
  color:#CC3399;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3399;
}
#u997 {
  position:absolute;
  left:330px;
  top:100px;
  width:57px;
  height:16px;
  color:#CC3399;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u999 {
  position:absolute;
  left:18px;
  top:616px;
  width:433px;
  height:80px;
  color:#000000;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:18px;
  top:712px;
  width:315px;
  height:16px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  visibility:hidden;
  white-space:nowrap;
}
#u1003 {
  position:absolute;
  left:18px;
  top:201px;
  width:153px;
  height:185px;
}
#u1003_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1005 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1005_img.selected {
}
#u1005.selected {
}
#u1006 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1008 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1004_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1009 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1012 {
  position:absolute;
  left:20px;
  top:40px;
  width:128px;
  height:20px;
  font-size:20px;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:22px;
  top:0px;
  width:106px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:3px;
  top:-2px;
  width:101px;
  white-space:nowrap;
}
#u1015 {
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1016 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1016_img.selected {
}
#u1016.selected {
}
#u1017 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1015_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u1020 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-size:20px;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1021 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1022 {
  position:absolute;
  left:3px;
  top:2px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u1023 {
  position:absolute;
  left:0px;
  top:80px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1024 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1024_img.selected {
}
#u1024.selected {
}
#u1025 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1027 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1023_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u1028 {
  position:absolute;
  left:20px;
  top:20px;
  width:129px;
  height:20px;
  font-size:20px;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:22px;
  top:0px;
  width:107px;
  height:20px;
}
#u1030 {
  position:absolute;
  left:3px;
  top:-2px;
  width:102px;
  white-space:nowrap;
}
#u1031 {
  position:absolute;
  left:0px;
  top:100px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1032 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1032_img.selected {
}
#u1032.selected {
}
#u1033 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1035 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1031_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u1036 {
  position:absolute;
  left:20px;
  top:20px;
  width:129px;
  height:20px;
  font-size:20px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:22px;
  top:0px;
  width:107px;
  height:20px;
}
#u1038 {
  position:absolute;
  left:3px;
  top:-2px;
  width:102px;
  white-space:nowrap;
}
#u1039 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1040 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1040_img.selected {
}
#u1040.selected {
}
#u1041 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1043 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1039_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u1044 {
  position:absolute;
  left:20px;
  top:20px;
  width:129px;
  height:20px;
  font-size:20px;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:22px;
  top:0px;
  width:107px;
  height:20px;
}
#u1046 {
  position:absolute;
  left:3px;
  top:-2px;
  width:102px;
  white-space:nowrap;
}
#u1047 {
  position:absolute;
  left:0px;
  top:140px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1048 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1048_img.selected {
}
#u1048.selected {
}
#u1049 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1051 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1047_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-size:20px;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u1054 {
  position:absolute;
  left:3px;
  top:-2px;
  width:81px;
  white-space:nowrap;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CC3399;
}
#u1055 {
  position:absolute;
  left:563px;
  top:177px;
  width:145px;
  height:15px;
  font-size:16px;
  color:#CC3399;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:324px;
  top:277px;
  width:145px;
  height:16px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3399;
}
#u1059 {
  position:absolute;
  left:444px;
  top:354px;
  width:275px;
  height:16px;
  color:#CC3399;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
